#notification-container {
  background-color: white;
  color: black;
  position: absolute;
  height: 200px;
  width: 200px;
  top: 0px;
  left: 0px;
  opacity: 0.9;
  z-index: 100;
  padding: 50px;
  border-radius: 52px;
}

#notification-message-display {
  height: 90%;
  font-size: 35px;
  text-align: center;
}

#notification-buttons {
  display: flex;
}

.notification-button {
  flex: 1;
  cursor: default;
  text-align: center;
}

#notification-button-right {
 text-align: right
}

#notification-button-left {
 text-align: left
}
