<div id="contacts">
  {{#each contacts}}
  <p>{{this.position}}</p>
  <p>{{this.name}}</p>
  {{!--
  <span>{{this.description}}</span> --}}
  <p>{{this.phoneNumber}}</p>
  {{/each}}
</div id="contacts">
