<div id="contacts">
  {{#each contacts}}
  <h3>{{this.position}}</h3>
  <h1>{{this.name}}</h1>
  {{!--
  <span>{{this.description}}</span> --}}
  <h2>{{this.phoneNumber}}</h2>
  {{/each}}
</div id="contacts">
