<div id="contacts-page">
  <div id="contacts">
    {{#each contacts}}
    <div class="position">{{this.position}}</div>
    <div class="name">{{this.name}}</div>
    {{!--
    <span>{{this.description}}</span> --}}
    <div class="phoneNumber">{{this.phoneNumber}}</div>
    {{/each}}
  </div>
</div id="contacts">
