<h1>Made by:</h1>
<ul>
    <!-- TODO: Add your name as a list element -->
    <li>Sirani McNeill</li>
    <li>Ray</li>
    <li>Yashwanth</li>
    <li>Kathy Su</li>
    <li>Agnes</li>
    <li>Hannah</li>
    <li>Martin</li>
</ul>